.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 17px;
  width: 46px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 0px;
  bottom: 0px;
  top: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  border-radius: 16px;
}

.pagination>li>a, 
.pagination>li>span {
  border-radius: 16px;
  margin: -13px;
  float: none !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  border: 1px solid;
  height: auto;
}

div.dataTables_wrapper div.dataTables_length select {
  border: 1px solid;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 20px !important;
}


.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 5px;
}
.select2-container .select2-selection--single {
  height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 4px !important;
}
